# Salin ke deploy.env (jangan commit deploy.env ke Git — tambahkan ke .gitignore)
# cp scripts/deploy.env.example scripts/deploy.env

# VPS
DEPLOY_HOST=103.196.152.249
DEPLOY_USER=taufik
# Path absolut folder project di server (hasil clone git)
DEPLOY_REMOTE_PATH=/home/taufik/teras-samarinda

# Kunci SSH private (Windows: pakai forward slash atau escape)
# DEPLOY_KEY=C:/Users/NamaUser/.ssh/id_ed25519
# DEPLOY_KEY=C:/Users/NamaUser/Downloads/first.pem

# Cabang Git di server (biasanya main atau master)
DEPLOY_BRANCH=main
